* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
     background: linear-gradient(to bottom, #f5f1eb, #b6a189); 
    color: white;
    padding: 40px 20px;
    min-height: 100vh;
  }
  
  .tituloP {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: rgb(0, 0, 0);
  }
  
  .habilidades-box {
    max-width: 600px;
    margin: 0 auto;
    background-color: #5e4b3c;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #5e4b3c;
  }
  
  .habilidades-box ul {
    list-style: none;
  }
  
  .habilidades-box li {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .habilidades-box i {
    font-size: 24px;
  }
  
  footer {
    text-align: center;
    margin-top: 40px;
    color: white;
    background-color: #5e4b3c;
    padding: 20px;
    border-radius: 15px;  
    box-shadow: 0 0 15px #5e4b3c;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  