<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minhas Habilidades</title>
  <link rel="stylesheet" href="../style/habilidades.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <h1 class="tituloP">Minhas Habilidades</h1>

  <div class="habilidades-box">
    <ul>
      <li><i class="fa-brands fa-html5"></i> HTML – Conhecimento básico</li>
      <li><i class="fa-brands fa-css3-alt"></i> CSS – Conhecimento básico</li>
      <li><i class="fa-brands fa-python"></i> Python – Em aprendizado</li>
    </ul>
  </div>

  <footer>
    <p>&copy; 2025 Kvinzinn. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
